*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
html,body{
      width: 100%;
      height: 100%;
}
#main{
      width: 100vw;
      height: 100vh;
}
#nav{
      width: 100vw;
      height: 7vh;
      position: fixed;
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      padding: 0 40px;
      z-index: 9999;
      font-weight: 600;

}
#leftnav{
      width: 15vw;
      /* background-color: red; */
      display: flex;
      align-items: center;
      justify-content: space-between;
}
#navline{
      width: 3px;
      height: 3vh;
      background-color: rgba(154, 151, 151, 0.425);

}
#leftnav img{
      height: 2.4vw;
      object-fit: cover ;
      
}
#leftnav h4{
      /* font-style: none; */
      color: rgb(0, 0, 0);
      font-family: Gilroy;
}
#rightnav{
      width: 55vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
#rightnav a{
      color: black;
      text-decoration: none; 
      font-family: Gilroy;     
      font-size: 1.1vw;
}
#firstpage{
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
}
#fleft{
      width: 50vw;
      height: 100vh;
}
.leftf{
      width:45vw ;
      height: 60vh;
      /* background-color: aqua; */
      position: absolute;
      top: 15vh;
      left: 3vw;
}
#fleft h1{
      font-size: 4vw;
      font-family: Gilroy;
}
#fleft h1 span{
      color: #289e8a;
      font-family: Gilroy;

}
.topnotch{
      width: 13.5vw;
      height: 5vh;
      /* background-color: aqua; */
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20PX;
      margin-top: 20px;
      font-family: Gilroy;
      font-size: 1.3vw;
}
.gola{
      width: 2vw;
      height: 4vh;
      background-color: #289e8a;
      border-radius: 200%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.gola i{
      color: white;
}
.leftf button{
      width: 15vw;
      height: 9vh;
      background-color: #289e8a;
      color: white;
      font-family: Gilroy;
      border: none;
      border-radius: 10px;
      margin-top: 5vh;
      /* margin-left: 3vw; */
}
#leaf{
      width: 33.5vw;
      display: flex;
      justify-content: space-between;
      margin-top: 4vh;
      align-items: center;
      /* background-color: #289e8a; */
      font-family: Gilroy;
      padding: 20px; 

}
#leafimg{
      width: 3vw;
      height:3vw;
      background-color: #55cbb7;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      font-size: 1.7vw;
}
#leafimg img{
      /* padding: 5vw; */
      width: 50%;
      object-fit: cover;

}
#fright{
      width: 50vw;
      height: 100%;
}
#fright img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}
#secondpage{
      width: 100vw;
      height: 100vh;
}